<section class="container py-4 pb-5" aria-labelledby="fundadores-titulo">
    <h2 id="fundadores-titulo" class="text-center mb-4">Fundadores</h2>
    <ul class="row list-unstyled text-center g-3 mb-0">
        <li class="col-md-4"><div class="p-3 border rounded">Isaac Edgardo Galicia</div></li>
        <li class="col-md-4"><div class="p-3 border rounded">Barnett Alejandro Morales Flores</div></li>
        <li class="col-md-4"><div class="p-3 border rounded">Josué Daniel López Corado</div></li>
        <li class="col-md-4"><div class="p-3 border rounded">Nelson Alexander Sandoval Aguilar</div></li>
        <li class="col-md-4"><div class="p-3 border rounded">Michael Esaú Jiménez Pérez</div></li>
        <li class="col-md-4"><div class="p-3 border rounded">Josué Geremías González Flores</div></li>
    </ul>
</section>
